.accept1{background: url(../images/icons.png) no-repeat 0 0!important;  } 
.add{background: url(../images/icons.png) no-repeat 0 -26px!important;  } 
.attach{background: url(../images/icons.png) no-repeat 0 -52px!important;  } 
.book_key{background: url(../images/icons.png) no-repeat 0 -77px!important;  } 
.btn-delete{background: url(../images/icons.png) no-repeat 0 -103px!important;  } 
.btn-save{background: url(../images/icons.png) no-repeat 0 -129px!important;  } 
.cancel{background: url(../images/icons.png) no-repeat 0 -155px!important;  } 
.close{background: url(../images/icons.png) no-repeat 0 -181px!important;  } 
.diary{background: url(../images/icons.png) no-repeat 0 -207px!important;  } 
.excel{background: url(../images/icons.png) no-repeat 0 -233px!important;  } 
.fav-star{background: url(../images/icons.png) no-repeat 0 -259px!important;  } 
.flowWait{background: url(../images/icons.png) no-repeat 0 -285px!important;  } 
.forwardmail{background: url(../images/icons.png) no-repeat 0 -311px!important;  } 
.i009{background: url(../images/icons.png) no-repeat 0 -335px!important;  } 
.i033{background: url(../images/icons.png) no-repeat 0 -361px!important;  } 
.i035{background: url(../images/icons.png) no-repeat 0 -387px!important;  } 
.i05503725{background: url(../images/icons.png) no-repeat 0 -413px!important;  } 
.i075{background: url(../images/icons.png) no-repeat 0 -439px!important;  } 
.i103{background: url(../images/icons.png) no-repeat 0 -465px!important;  } 
.i1032{background: url(../images/icons.png) no-repeat 0 -491px!important;  } 
.i1095{background: url(../images/icons.png) no-repeat 0 -517px!important;  } 
.i1102{background: url(../images/icons.png) no-repeat 0 -543px!important;  } 
.i130{background: url(../images/icons.png) no-repeat 0 -569px!important;  } 
.i135{background: url(../images/icons.png) no-repeat 0 -595px!important;  } 
.i136{background: url(../images/icons.png) no-repeat 0 -621px!important;  } 
.i195{background: url(../images/icons.png) no-repeat 0 -647px!important;  } 
.i201{background: url(../images/icons.png) no-repeat 0 -673px!important;  } 
.i203{background: url(../images/icons.png) no-repeat 0 -699px!important;  } 
.i205{background: url(../images/icons.png) no-repeat 0 -725px!important;  } 
.i221{background: url(../images/icons.png) no-repeat 0 -751px!important;  } 
.i294{background: url(../images/icons.png) no-repeat 0 -777px!important;  } 
.icon00{background: url(../images/icons.png) no-repeat 0 -803px!important;  } 
.home{background: url(../images/icons.png) no-repeat 0 -829px!important;  } 
.query{background: url(../images/icons.png) no-repeat 0 -855px!important;  } 
.icon04{background: url(../images/icons.png) no-repeat 0 -881px!important;  } 
.icon05{background: url(../images/icons.png) no-repeat 0 -907px!important;  } 
.icon08{background: url(../images/icons.png) no-repeat 0 -933px!important;  } 
.icon10{background: url(../images/icons.png) no-repeat 0 -959px!important;  } 
.icon16{background: url(../images/icons.png) no-repeat 0 -985px!important;  } 
.icon17{background: url(../images/icons.png) no-repeat 0 -1011px!important;  } 
.icon20{background: url(../images/icons.png) no-repeat 0 -1037px!important;  } 
.icon25{background: url(../images/icons.png) no-repeat 0 -1063px!important;  } 
.icon26{background: url(../images/icons.png) no-repeat 0 -1089px!important;  } 
.icon28{background: url(../images/icons.png) no-repeat 0 -1115px!important;  } 
.icon29{background: url(../images/icons.png) no-repeat 0 -1141px!important;  } 
.icon31{background: url(../images/icons.png) no-repeat 0 -1167px!important;  } 
.inbox{background: url(../images/icons.png) no-repeat 0 -1193px!important;  } 
.item-add{background: url(../images/icons.png) no-repeat 0 -1219px!important;  } 
.item-delete{background: url(../images/icons.png) no-repeat 0 -1245px!important;  } 
.item-edit{background: url(../images/icons.png) no-repeat 0 -1271px!important;  } 
.item-save{background: url(../images/icons.png) no-repeat 0 -1299px!important;  } 
.mail_box{background: url(../images/icons.png) no-repeat 0 -1325px!important;  } 
.mbi020{background: url(../images/icons.png) no-repeat 0 -1351px!important;  } 
.move-down{background: url(../images/icons.png) no-repeat 0 -1377px!important;  } 
.move-up{background: url(../images/icons.png) no-repeat 0 -1403px!important;  } 
.preview{background: url(../images/icons.png) no-repeat 0 -1429px!important;  } 
.refresh{background: url(../images/icons.png) no-repeat 0 -1459px!important;  } 
.reply{background: url(../images/icons.png) no-repeat 0 -1485px!important;  } 
.restore{background: url(../images/icons.png) no-repeat 0 -1511px!important;  } 
.reverse{background: url(../images/icons.png) no-repeat 0 -1537px!important;  } 
.save{background: url(../images/icons.png) no-repeat 0 -1563px!important;  } 
.search{background: url(../images/icons.png) no-repeat 0 -1589px!important;  } 
.send{background: url(../images/icons.png) no-repeat 0 -1615px!important;  } 
.sendMessage{background: url(../images/icons.png) no-repeat 0 -1641px!important;  } 
.set-disp-columns{background: url(../images/icons.png) no-repeat 0 -1667px!important;  } 
.setIsTop{background: url(../images/icons.png) no-repeat 0 -1693px!important;  } 
.setIsTopDown{background: url(../images/icons.png) no-repeat 0 -1719px!important;  } 
.signInOff{background: url(../images/icons.png) no-repeat 0 -1745px!important;  } 
.trash{background: url(../images/icons.png) no-repeat 0 -1771px!important;  } 
.user{background: url(../images/icons.png) no-repeat 0 -1797px!important;  } 
.xstb163{background: url(../images/icons.png) no-repeat 0 -1823px!important;  } 
.xstb168{background: url(../images/icons.png) no-repeat 0 -1849px!important;  }
.gamestart{background: url(../images/television_out.png) no-repeat !important ;}
.gameview{background: url(../images/television_star.png) no-repeat !important ;}
.gameadd{background: url(../images/television_in.png) no-repeat !important ;}
.forward_blue{background: url(../images/forward_blue.png) no-repeat !important ;}
.next_blue{background: url(../images/next_blue.png) no-repeat !important ;}
.pause_blue{background: url(../images/pause_blue.png) no-repeat !important ;}
.play_blue{background: url(../images/play_blue.png) no-repeat !important ;}
.print{background: url(../images/printer_start.png) no-repeat !important ;}
.yen_coin{background: url(../images/yen_coin.png) no-repeat !important ;}

